.chip {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--bg-color-primary);
  color: var(--color-primary);
  border-radius: var(--radius-xs);
  padding: 0.25rem 0.625rem;
  text-align: center;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}
