.iconWrapper {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: var(--radius-full);
  box-shadow: 0px 0px 0px 1px rgba(var(--border-color-base-rgb), 0.06) inset,
    0px 0px 0px 3px rgb(var(--bg-color-base-rgb)), 0px 0px 0px 4px rgba(var(--border-color-base-rgb), 0.04),
    0px 2px 4px 1px rgba(var(--border-color-base-rgb), 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Colors */
.none {
}

.primary {
  color: var(--color-primary);
}

.teal {
  background-color: rgb(var(--color-teal-100-rgb));
  color: rgb(var(--color-teal-base-rgb));
}
.purple {
  background-color: rgb(var(--color-purple-100-rgb));
  color: rgb(var(--color-purple-600-rgb));
}
.orange {
  background-color: rgb(var(--color-orange-100-rgb));
  color: rgb(var(--color-orange-base-rgb));
}
.red {
  background-color: rgb(var(--color-red-100-rgb));
  color: rgb(var(--color-red-base-rgb));
}
.green {
  background-color: rgb(var(--color-green-100-rgb));
  color: rgb(var(--color-green-600-rgb));
}
.blue {
  background-color: rgb(var(--color-blue-100-rgb));
  color: rgb(var(--color-blue-base-rgb));
}
.magenta {
  background-color: rgb(var(--color-magenta-100-rgb));
  color: rgb(var(--color-magenta-base-rgb));
}
