.wrapper {
  padding: var(--block-pads-y) var(--block-pads-x);
  background-color: var(--color-accent);
  border-radius: var(--radius-3xl);
  color: rgb(var(--color-white-rgb));
  max-width: var(--max-width);
  width: 100%;
  text-align: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: var(--gap-6);
  align-items: center;
}

.quote {
  font-weight: 600;
  max-width: 40rem;
  font-size: 1.5rem;
}

.name {
  font-size: 0.875rem;
  font-family: var(--font-monospace);
  font-weight: 700;
}

.jobTitle {
  font-size: 0.875rem;
  font-family: var(--font-monospace);
}

.logo {
  fill: currentColor;
}
